.pokemons__item
    width: 25%
    float: left
    padding: 0 10px
    box-sizing: border-box
    margin-bottom: 25px
    .pokemons__item-wrapper
        padding: 20px
        box-sizing: border-box
        border: 1px solid #356abc
        border-radius: 25px
        text-align: center
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        img
            width: 100%